<h1 class="heading">Log in!</h1>

<div class="ui container">
  <div class="ui raised segment login">
    <div class="ui big form">
        <%= form_tag login_path do %>
        <div class="two fields">
          <div class="field">
              <%= label_tag :username %>
              <%= text_field_tag :username %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= text_field_tag :password %>
          </div>
        </div>
        <%= submit_tag 'Log in', class: "ui fluid teal submit button" %>
      <% end %>
        <%= link_to 'Log in with Facebook!', '/auth/facebook', class: "ui fluid facebook button" %>

    </div>
  </div>
</div>




