<h1 class="heading"><%= @student.full_name %></h1>
  <div class="ui justified text container"> 
  
    <div class="image show">
      <% if owns_show_page? %>
        <%= link_to 'Edit Your Info', edit_student_path(@student), class: 'ui big fluid top attached button' %>
      <% end %>
      <img src=<%= @student.image %>>
    </div>
    <h2 class="header">About <%= @student.first_name %></h2>
    <p>
      <%= @student.bio %>
    </p>
    <% if owns_show_page? %>
      <%= link_to 'View Your Lessons', student_lessons_path(@student), class: 'ui big fluid teal bottom attached button' %>
    <% end %>
  </div>

