<%= render partial: 'shared/errors', locals: { object: user } %>

<div class="ui container">
  <div class="ui raised segment login">
    <div class="ui form">
      <%= form_for user do |f| %>
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.text_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.text_field :password_confirmation %>
        </div>
        <%= f.submit 'Submit', class: "ui fluid teal submit button" %>
        <%= link_to 'Sign up with Facebook!', '/auth/facebook', class: "ui fluid facebook button" %>
      <% end %>
    </div>
      

  </div>
</div>




