<%= form_for lesson do |f| %>
  <%= render 'shared/errors', object: lesson %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.date_select :date %>
    <%= f.time_select :time, {minute_step: 15, ampm: true} %>
    <%= f.hidden_field :teacher_id, value: current_user.id %>
  </div>

  <div>
    <p><strong>Tags:</strong></p>

     <div>
      <%= f.label 'Add tags:' %>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
    </div>

    <%= f.label 'Or create your own:' %>
    <%= f.fields_for :tags do |tag| %>
      <div>
        <%= tag.label :name %>
        <%= tag.text_field :name %>
      </div>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>