<%= form_for @lesson do |f| %>
  <%= render 'shared/errors', object: @lesson %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :teacher_id, value: current_user.id %>
  </div>

  <div>
    <p><strong>Tags:</strong></p>

    <%= f.fields_for :tags do |tag| %>
      <div>
        <%= tag.label :name %>
        <%= tag.text_field :name %>
      </div>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>