<div class="ui card">
  <div class="content">
    <div class="header"><%= link_to lesson.title, lesson_path(lesson) %></div>
    <div><%= lesson.location %></div>
    <div class="content">
    <%#create scoped class method that tells user when the class is in days from now%>
      <img class="ui avatar image" src=<%= lesson.teacher.image %>> by
       <%= link_to lesson.teacher.full_name, teacher_path(lesson.teacher)  %>
    </div>
     <div class="ui horizontal divider">
      <i class="tag icon"></i>
        What
    </div>
    <div class="content">
      <p><%= lesson.description %></p>
    </div>
  </div>
  <div class="content">
    <% if lesson.tags.any? %>
      <%= render partial: 'tags/tag', collection: lesson.tags %>
    <% end %>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      <%= lesson.enrolled_students %> students going
    </a>
  </div>
  <%= link_to 'View Class', lesson_path(lesson), class: 'ui bottom attached button' %>
</div>
