<h1 class="heading" id="lessonTitle"><%= @lesson.title %></h2>
<div class="ui piled justified text container segment">
    <div class="ui horizontal divider">
      <i class="user icon"></i>
        Who
    </div>
   <img id="lessonTeacherImage" class="ui avatar image" src=<%= @lesson.teacher.image %>>
    <span id="lessonTeacherName"><%= link_to @lesson.teacher.full_name, teacher_path(@lesson.teacher)  %></span>
     <div class="ui horizontal divider">
      <i class="align justify icon"></i>
        What
    </div>
    <p id="lessonDescription"><%= @lesson.description %></p>
    <div class="ui horizontal divider">
      <i class="building icon"></i>
        Where
    </div>
      <p id="lessonLocation"><%= @lesson.location %></p>
    <div class="ui horizontal divider">
      <i class="calendar icon"></i>
        When
    </div>
    <p id="lessonTime"><%= @lesson.when %></p>
     <div class="ui horizontal divider">
      <i class="tags icon"></i>
        Tags
    </div>
    <div id="lessonTags">
      <%= render partial: 'tags/tag', collection: @lesson.tags %>
    </div>
  <div>

  <% if is_logged_in? %>
    <% unless is_enrolled? || is_teacher? %>
      <div class="ui horizontal divider">
        <i class="tags icon"></i>
        Enroll
      </div>
      <p>We ask that you send your teacher a question, comment, or request pertaining to the lesson's subject matter so they can better tailor its contents and structure to enrolled students' preferences.</p>
      <p><strong>Note:</strong> Fulfillment of your request is completely up to the teacher's discretion.</p>
      <div class="ui form">
        <%= form_for @comment, url: lesson_enrollment_path(@lesson) do |f| %>
        <div class="field">
          <%= f.text_area :body, rows: "5", class: "ui field"%>
        </div>
          <%= f.submit 'Enroll', class: "ui fluid teal button" %>
        <% end %>
      <div>
    <% else %>
        <%= link_to 'Drop Lesson', lesson_drop_path(@lesson), method: :delete, class: "ui bottom attached red button" if is_enrolled? %>
    <% end %>
  <% end %>

  <% if is_lesson_owner? %>
    <div class="ui comments">
      <% if @comments %>
      <div class="ui horizontal divider">Comments</div>
        <ul>
          <% @comments.each do |comment| %>
            <div class="comment">
              <a class="avatar">
                <img src="<%= comment.student.image %>">
              </a>
              <div class="content">
                <a class="author"><%= comment.student.username %></a>
                <div class="text"><%= comment.body %></div>
              </div>
            </div>
          <% end %>
        </ul>
      <% else %>
          <p>You don't have any messages yet.</p>
      <% end %>
    </div>

      <%= link_to 'Edit Lesson', edit_teacher_lesson_path(@lesson.teacher, @lesson), class: "ui bottom attached button" %>
  <% end %>
      <a class="ui bottom attached teal button js-next" href="#" data-id="<%= @lesson.id %>">Next Lesson</a>

</div>

<!-- Handlebars Template-->
<script id='teacher-link-template' type='text/x-handlebars-template'>
  <a href=`/teachers/{{teacher.id}}`>{{teacherName}}</a>
</script>

<script id='tags-template' type='text/x-handlebars-template'>
  {{#each tags}}
    <div class="ui teal tag label"><a href='/tags/{{id}}'>{{name}}</a></div>
  {{/each}}
</script>