<h1 class="heading"><%= @lesson.title %></h2>
<div class="ui piled justified text container segment">
    <div class="ui horizontal divider">
      <i class="user icon"></i>
        Who
    </div>
    <img class="ui avatar image" src=<%= @lesson.teacher.image %>>
    <%= link_to @lesson.teacher.full_name, teacher_path(@lesson.teacher)  %>
     <div class="ui horizontal divider">
      <i class="align justify icon"></i>
        What
    </div>
    <p><%= @lesson.description %></p>
    <div class="ui horizontal divider">
      <i class="building icon"></i>
        Where
    </div>
      <p><%= @lesson.location %></p>
    <div class="ui horizontal divider">
      <i class="calendar icon"></i>
        When
    </div>
    <p><%= @lesson.when %></p>
     <div class="ui horizontal divider">
      <i class="tags icon"></i>
        Tags
    </div>
    <%= render partial: 'tags/tag', collection: @lesson.tags %>
  <div>

  <% if is_logged_in? %>
    <% unless is_enrolled? || is_teacher? %>
      <div class="ui labeled button">
        <div class="ui basic teal button">
          <i class="group icon"></i>
          <%= link_to 'Enroll', lesson_enrollment_path(@lesson), method: :post %>
        </div>
        <a class="ui teal left pointing label">
          <%= @lesson.enrolled_students %>
        </a>
    <% else %>
      <%= link_to 'Drop Lesson', lesson_drop_path(@lesson), method: :delete if is_enrolled? %>
    <% end %>
    </div>
  <% end %>

  <div>
    <%= link_to 'Edit Lesson', edit_teacher_lesson_path(@lesson.teacher, @lesson), class: "ui teal button" if is_lesson_owner? %>
  </div>
  


</div>