<h1><%= @lesson.title %></h1>

<p>Description: <%= @lesson.description %></p>
<p>Location: <%= @lesson.location %></p>

<%= link_to 'Edit Lesson', edit_teacher_lesson_path(@lesson.teacher, @lesson) if is_teacher? %>

<%= link_to 'Enroll', lesson_enrollment_path(@lesson), method: :post unless is_enrolled? || is_teacher? %>