
<h1 class="heading"><%= @teacher.full_name %></h1>
  <div class="ui justified text container"> 
  
    <div class="image show">
      <img src=<%= @teacher.image %>>
    </div>
    <h2 class="ui center aligned header">About <%= @teacher.first_name %></h2>
    <p>
      <%= @teacher.bio %>
    </p>
      <% if is_logged_in? && owns_show_page? %>
        <div class="four ui buttons">
          <%= link_to 'New Lesson', new_teacher_lesson_path(@teacher), class: 'ui button' %>
          <%= link_to 'View Your Lessons', teacher_lessons_path(@teacher), class: 'ui button js-lessons', data: { id: @teacher.id } %>
          <%= link_to 'Edit Your Info', edit_teacher_path(@teacher), class: 'ui button' %>
          <%= link_to 'See Student Reviews', reviews_path , class: 'ui button js-reviews', data: { id: @teacher.id } %>
        </div>
        <div class="ui comments">
        </div>
      <% end %>
      <% if is_logged_in? && is_student? %>
      <%= link_to 'See Student Reviews', reviews_path , class: 'ui fluid button js-reviews', data: { id: @teacher.id } %>
      <div class="ui comments">
      </div>
        <h3 class="ui left aligned header">Add a review!</h3>
          <div class="ui form">
            <%= form_for @review, html: { id: 'reviewForm' } do |f| %>
            <div class="field">
              <%= f.text_area :body, rows: "5", class: "ui field"%>
              <%= f.hidden_field :teacher_id, value: @teacher.id %>
              <%= f.hidden_field :student_id, value: @current_user.id %>
            </div>
              <%= f.submit 'Review', class: "ui fluid teal button" %>
            <% end %>
          <div>
      <% end %>
     
  </div>

<!-- Handlebars Templates -->

<script id='teacher-lessons-template' type='text/x-handlebars-template'>
    <div class="item">
      <div class="content">
        <i class="users icon"></i>
        <a class="header" href='/lessons/{{id}}'>{{title}}</a>
        <div class="description">When: {{formatTime}} at {{location}}</div>
      </div>
    </div>
</script>

<script id='review-template' type='text/x-handlebars-template'>
  <div class="comment">
      <a class="avatar">
        <img src="{{author.image}}">
      </a>
      <div class="content">
        <a class="author">{{authorName}}</a>
        <div class="metadata">
          <span class="date">{{formatPostTime}}</span>
        </div>
        <div class="text">
          {{body}}
        </div>
      </div>
    </div>
</script>








