<!DOCTYPE html>
<html>
  <head>
    <title>Sadhana</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui secondary pointing menu">
    <%= link_to 'SÄdhanÄ', root_path, class: 'item' %>
    <% if is_logged_in? %>
      <%= link_to 'My Lessons', student_lessons_path(current_user), class: 'item' unless is_teacher? %>
      <%= link_to 'My Lessons', teacher_lessons_path(current_user), class: 'item' unless is_student? %>
    <% end %>
    <%= link_to 'All Lessons', lessons_path, class: 'item' %>
    <%= link_to 'Teachers', teachers_path, class: 'item' %>
    <div class="right menu">
        <% if is_logged_in? %>
          <%= link_to 'Create Lesson', new_teacher_lesson_path(current_user), class: "ui item" if is_teacher? %>
          <%= link_to "Hi, #{current_user.first_name}", student_path(current_user), class: "ui item" unless is_teacher? %>
          <%= link_to "Hi, #{current_user.first_name}", teacher_path(current_user), class: "ui item" unless is_student? %>
          <%= link_to 'Log Out', logout_path, method: :delete, class: 'ui item' %>
        <% else %>
          <%= link_to 'Log In', login_path, class: 'ui item' %>
        <% end %>
    </div>
  </div>
    
    <%= yield %>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>
