<!DOCTYPE html>
<html>
  <head>
    <title>Sadhana</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if is_logged_in? %>
      <%= current_user.full_name %> || <%= link_to 'Log_out', logout_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
